<%- include("../common/header.ejs") %>

<link rel="stylesheet" href="../../stylesheets/login.css" />

<section>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>

  <div id="signIn" class="signin">
    <div class="content">
      <h2>Sign In</h2>
      <div class="form">
        <div class="inputBox">
          <input name="email" type="text" required />
          <i>Email</i>
        </div>
        <div class="inputBox">
          <input name="password" type="password" required />
          <i>Password</i>
        </div>
        <div class="links">
          <a href="#"></a>
          <a href="#" class="ToggleBtn">Sign Up</a>
        </div>
        <div class="inputBox">
          <input type="submit" value="Login" />
        </div>
      </div>
    </div>
  </div>
  <div id="signUp" style="display: none" class="signin">
    <div class="content">
      <h2>Sign Up</h2>
      <div class="form">
        <div class="inputBox">
          <input name="name" type="text" required />
          <i>Name</i>
        </div>
        <div class="inputBox">
          <input name="email" type="email" required />
          <i>Email</i>
        </div>
        <div class="inputBox">
          <input name="password" type="password" required />
          <i>Password</i>
        </div>
        <div class="links">
          <a href="#"></a>
          <a href="#" class="ToggleBtn">Sign In</a>
        </div>
        <div class="inputBox">
          <input type="submit" value="Sign up" />
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let val = false;
  const changePage = () => {
    if (val == false) {
      document.getElementById("signUp").style.display = "block";
      document.getElementById("signIn").style.display = "none";
    } else {
      document.getElementById("signIn").style.display = "block";
      document.getElementById("signUp").style.display = "none";
    }
  };
  //  select all ToggleBtn and wrap a click event listener and call change page
  document.querySelectorAll(".ToggleBtn").forEach((btn) => {
    btn.addEventListener("click", (e) => {
      console.log(e);
      changePage(!val);
      val = !val;
    });
  });
</script>
<%- include("../common/footer.ejs") %>
